<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.amey.refbook" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="ma2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ProjectGroupInfo"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="pgi" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".selectyear"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sltyr" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sem1"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Sem2"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem2" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem3extc"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem3extc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem4extc"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem4extc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem5extc"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem5extc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem6extc"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem6extc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem7extc"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem7extc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem8extc"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem8extc" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem3coms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem3coms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem4coms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem4coms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem5coms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem5coms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem6coms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem6coms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem7coms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem7coms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem8coms"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem8coms" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem3it"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem3it" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem4it"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem4it" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem5it"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem5it" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem6it"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem6it" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem7it"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem7it" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".sem8it"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="sem8it" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>
